Q1. Explain with an example each when to use a for loop and a while loop.
Ans- There are two types of loops :- 
i) while loop
ii) for loop
When a while loop is used the statements are executed till the boolean condition is true and as soon as the boolean conditions turns to false the loop stops. and also while loop also has a keyword which is else , which is executed when the boolean condition of while becomes false.
for loop is used when we know the number of iteration or the number of times we have to execute a loop.
the examples are given below:-

In [1]:
#while loop 
#printing first 5 natural numbers using while loop
i=0
while(i<=5):
    print(i)
    i=i+1

0
1
2
3
4
5

In [2]:
#for loop 
#print 0 to 5 numbers
for x in range(6):
  print(x)

0
1
2
3
4
5

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [10]:
# using for loop
l=[]
product=1
sum=0
for x in range(11):
    if x>=1 and x<=10:
        l.append(x)
        sum=sum+x
        product=product*x
print("Sum of first 10 natural no is :- ", sum)
print("product of first 10 natural no is :- ", product)

Sum of first 10 natural no is :-  55
product of first 10 natural no is :-  3628800

In [11]:
# using for while
i=1
sum=0
product=1
while(i<=10):
    sum=sum+i
    product=product*i
    i=i+1
print("Sum of first 10 natural no is :- ", sum)
print("product of first 10 natural no is :- ", product)

Sum of first 10 natural no is :-  55
product of first 10 natural no is :-  3628800

Q3. Create a python program to compute the electricity bill for a household.

In [2]:
unit=int(input("Enter the units consumed - "))
cost=0
if unit<=100:
     cost=unit*4.5
if unit>100 and unit<=200:
        unit=unit-100
        cost=450+(unit*6)
if unit>200 and unit<=300:
    unit=unit-200
    cost=1050+(unit*10)
if unit>300:
    unit=unit-300
    cost=2050+(unit*20)

print("TOTAL COST - ", cost)

Enter the units consumed -  500

TOTAL COST -  6050

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [4]:
#for loop
l=[]
cube=0
for x in range(101):
    if x>0:
        cube=x**3
        if cube%4==0 or cube%5==0:
            l.append(cube)
print(l)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [5]:
#while loop
i=1
l=[]
cube=0
while(i<=100):
    cube=i**3
    if cube%4==0 or cube%5==0:
        l.append(cube)
    i=i+1
print(l)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [6]:
string="I want to become a data scientist"
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:",vowels)

Number of vowels are: 12